---
 const personalImageAlt = "Lucca Frachelle"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    Soy Lucca Frachelle, pero todos me llaman Frache. Actualmente, estoy navegando a través del tercer año en dos carreras: <strong>estadística</strong> y <strong>economía</strong>. Mi interés se inclina hacia la <strong>ciencia de datos</strong>, explorando cómo los datos pueden contar historias y revelar verdades escondidas en números y tendencias.
  </p>
  
  <p>
    Mis proyectos incluyen un analisis por cluster sobre la correlación entre el <strong>PIB per cápita y la esperanza de vida</strong>, presentado en las XI Jornadas Académicas en FCEA, y el desarrollo de un <strong>scraper de datos de infocasas</strong>, usando modelos de Machine Learning para predecir el precio.
  </p>
  
  <p>
    En los momentos que no estoy inmerso en  estudio o datos , es muy probable que me encuentres en chess.com, donde juego al ajedrez de forma vulgar. Además, tengo la certificación de barista, lo cual es testimonio de mi amor por el café y mi afición por aprender y experimentar con nuevas habilidades. Fundamentalmente, mi curiosidad se centra en explorar cómo los datos pueden enriquecer nuestras vidas, abordándolo todo con un enfoque relajado pero profundamente apasionado.
</p>

  
  
  
  
  </div>

  <img width="200" height="200" src="/kFe.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20 " style="object-position: 50% 50%">

</article>


